.section__story{
    margin-top: -62px;
    z-index: 111;
    @media (max-width: $breakpoint992) {
        margin-top: 0;
        padding: 0 35px;
    }
}


.story {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media (max-width: $breakpoint1200) {
        gap: 40px;
    }

    @media (max-width: $breakpoint992) {
        flex-wrap: wrap-reverse;
        gap: 0;
    }

    &__item {

        &.left__item {
            flex: 0 1 800px;

            @media (max-width: $breakpoint1200) {
                flex: 0 1 60%;
            }
            @media (max-width: $breakpoint992) {
                flex: 0 1 100%;
                padding-top: 35px;
            }
            @media (max-width: $breakpoint480) {
                padding-top: 25px;
            }
        }

        &.right__item {
            flex: 0 1 366px;

            @media (max-width: $breakpoint1200) {
                flex: 0 1 40%;
            }
            @media (max-width: $breakpoint992) {
                padding-top: 35px;
                flex: 0 1 100%;
            }
        }

        &-title {
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 110%;
            letter-spacing: -0.03em;

            @media (max-width: $breakpoint1200) {
                padding-top: 70px;
            }
            @media (max-width: $breakpoint992) {
                padding-top: 0;
            }
          
        }

        &-text {
            padding-top: 18px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            color: $primary;
            @media (max-width: $breakpoint992) {
                padding-top: 10px;
            }
        }
    }

    &__item-video {
        position: relative;
        border-radius: 12px;

        .video {
            border-radius: 12px;

            @media (max-width: $breakpoint1200) {
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }

        .video-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            @media (max-width: $breakpoint480) {
                width: 50px;
                height: 50px;
            }
        }
    }
}